/*
   Import partials below
*/
@import './normalize';
@import './base/fonts.scss';
@import './base/variables.scss';

/*& для вложенности селектора при эффекте hover*/

html{
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   }
   *,
   *::before,
   *::after{
   -webkit-box-sizing: inherit;
           box-sizing: inherit;
   }

body{
   font-family: $roboto;
   color: grey;
   font-size:14px;
   line-height:21px;
}


.container{
   max-width: 1201px;
   margin: 0 auto;
   width: 100%;
}

/*HEADER*/
/*header*/
.background {
   height: 1000px;
   background-image:-webkit-gradient (linear, left bottom, left top, from(rgba(252, 227, 138, 0.6)), to(rgba(243, 129, 129, 0.8)) ), url("/img/back1.jpg");
   background-image:-webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.6) 0%, rgba(243, 129, 129, 0.8) 100% ), url("/img/back1.jpg");
   background-image:-o-linear-gradient(bottom, rgba(252, 227, 138, 0.6) 0%, rgba(243, 129, 129, 0.8) 100% ), url("/img/back1.jpg");
   background-image:linear-gradient(to top, rgba(252, 227, 138, 0.6) 0%, rgba(243, 129, 129, 0.8) 100% ), url("/img/back1.jpg");
   background-size: cover;
   background-position: center;
   margin: 0;
   padding: 0;
}
@media
   (-webkit-min-device-pixel-ratio:2),
   (-o-min-device-pixel-ratio:2/1),
   (min-resolution:192dpi){
       .background {
           background-image:-webkit-gradient (linear, left bottom, left top, from(rgba(248, 211, 248, -0.6)), to(rgba(253, 109, 205, 0.9)) ), url("/img/back2.jpg");
           background-image:-webkit-linear-gradient(bottom, rgba(248, 211, 248, -0.6) 0%, rgba(253, 109, 205, 0.9) 100% ), url("/img/back2.jpg");
           background-image:-o-linear-gradient(bottom, rgba(248, 211, 248, -0.6) 0%, rgba(253, 109, 205, 0.9) 100% ), url("/img/back2.jpg");
           background-image:linear-gradient(to top, rgba(248, 211, 248, -0.6) 0%, rgba(253, 109, 205, 0.9) 100% ), url("/img/back2.jpg");
       }
   }
/*div*/
.header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;
   font-family: 'Montserrat';  
   padding-top: 36px;
   margin-bottom: 200px;
}
/*a*/
.logo{
   display: block;
   font-size: 30px;
   font-weight: bold;
   color: white;
   text-decoration: none;
   margin: 0;
   padding: 0;
}

.logo:hover,
.logo:focus{
   color: yellow;
}
/*nav*/
.navigation{
   display: block;
   width: 620px;
   margin: 0;
   padding: 0;
}
/*ul*/
.site_navigation{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   text-decoration: none;
   padding: 0;
   margin: 0;
}
/*li*/
.site_navigation__item{
   list-style: none;
}
/*li svg*/
.site_navigation__item svg {
   fill:white;
   width: 20px;
   height: 20px;
   background-color: transparent;
   border: none;
}
/*li svg hover*/
.site_navigation__item svg:hover,
.site_navigation__item svg:focus{
   fill:yellow;
}

/*a*/
.site_navigation__link, 
.site_navigation__button{  
   display: -webkit-box;  
   display: -ms-flexbox;  
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;  
   font-size: 14px;
   color: white;
   text-transform: uppercase;
   line-height: 36px;
   text-decoration: none;
   background-color: transparent;
   border: none;
} 

.site_navigation__link:hover,
.site_navigation__link:focus {
   color:yellow;
}

.site_navigation__icon:hover,
.site_navigation__icon:focus{
   color:yellow;
}

.site_navigation__link::after{
   display: table;
   content:"";
   width:100%;
   height:3px;
   line-height: 20px;
   border: solid 2px;
   border-color: #fce38a;
   background-color: #fce38a;
   opacity: 0;
}

.site_navigation__link:hover::after,
.site_navigation__link:focus::after{
   opacity: 1;
}
/*div*/
.greeting{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
       -ms-flex-flow:column wrap;
           flex-flow:column wrap;
}
/*p*/
.greeting__about{
   font-family: 'Kaushan Script';
   font-size: 72px;
   color: #ffffff;
   text-align: center;
   line-height: 44px;
   margin: 0;
   margin-bottom: 200px;
}
/*h2*/
.greeting__name{
   display: block;
   font-family: 'Montserrat';
   font-size: 150px;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
   margin:0;
   margin-bottom: 69px;
   line-height: 124px;
}
/*a*/
.greeting__more{
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   font-family: "Montserrat";
   font-size: 14px;
   font-weight: bold;
   color: #ffffff;
   border: 4px solid #ffffff;
   width: 160px;
   margin:0 auto;
   margin-bottom: 230px;
}

/*both sections*/
.section{
   padding-top: 106px;
}
.section__wrapper{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
       -ms-flex-flow:column wrap;
           flex-flow:column wrap;
   color: #333333;
   margin-bottom: 100px;
}
/*p*/
.section__about{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: column wrap;
           flex-flow: column wrap;
   font-family: 'Kaushan Script';
   font-size: 24px;
   text-align: center;
   line-height: 44px;
}
/*h2*/
.section__name{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: column wrap;
           flex-flow: column wrap;
   font-family: 'Montserrat';
   font-size: 30px;
   color: #333333;
   text-transform: uppercase;
   text-align: center;
   line-height: 50px;
   margin-bottom: 50px;
}
/*h2*/
.section__name::after {
   display: table;
   content:"";
   width:60px;
   height:4px;
   margin: 0 auto;
   border: solid 2px;
   border-color: #f38181;
   background-color: #f38181;
}

/*SERVICES*/
/*ul*/
.services__topic_list{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;
   height: 250px;
   padding: 0 10px;
}
/*li*/
.services__topic_item{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: column wrap;
           flex-flow: column wrap;
   width: 383px;
}
/*div*/
.services__topic_point{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: initial;
           flex-flow: initial;
}
/*svg*/
.svg{
   vertical-align: middle;
   margin: 0 30px;
   width: 40px;
   height: 40px;
   fill: #95e1d3;
}
/*div*/
.services__topic_desk{
   max-width: 301px;
   width: 100%;
   vertical-align: bottom;
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: flex-start;
}
/*p*/
.services__topic_name{
   font-family: 'Montserrat';
   font-size: 14px;
   text-transform: uppercase;
   margin: 0;
}
/*p*/
.services__content{
   color: #b6b6b6;
   margin: 0;
}
/*TEAM*/
.team{
   padding:100px 0;
   border-bottom: 1px solid #e5e5e5;
}
/*p*/
.team__description{
   max-width:980px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: column wrap;
           flex-flow: column wrap;
   text-align: center;
   margin: 0 auto;
   font-size: 15px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #a8a8a8;
}
/*ul*/
.team__list{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 0;
   margin: 0;
   list-style: none;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;
}
/*li*/
.team__item{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: relative;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: column wrap;
           flex-flow: column wrap;
}
/*div*/
.employee{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: absolute;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;
   margin-bottom: 32px;
   -webkit-transition: .3s linear;
   -o-transition: .3s linear;
   transition: .3s linear;
   width: 380px;
   height: 470px;
   z-index: 1;
   background-image: -webkit-gradient (linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)) );
   background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
   background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
   background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
   -webkit-transition: .3s linear;
   -o-transition: .3s linear;
   transition: .3s linear;
   opacity: 0;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.team__item:hover .employee {
   -webkit-transform: translate(-10px, -10px);
       -ms-transform: translate(-10px, -10px);
           transform: translate(-10px, -10px);
}
/*img*/
.employee__image{
   width: 380px;
   height: 470px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
}
/*div с ссылками на соцсети*/
.employee__links{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 0 auto;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;
   width: 223px;
}

.team__item:hover .employee {
   -webkit-box-shadow:10px 10px 0 #95e1d3;
           box-shadow:10px 10px 0 #95e1d3;
}
/*div с ссылками на соцсети*/
.team__item:hover .employee,
.team__item:focus .employee{
   opacity: 1;
}
.employee__link{
   width: 55px;
   height: 55px;
   background-color: #fce38a;
   border:none;
   background-position: center;
   padding: 0;
   z-index: 0;
}

.employee__link:hover{
   background-color: #f38181;
}
.employee__link:hover .icon{
   fill: #ffffff;
}

.icon{
   width: 21px;
   height: 21px;
   fill: #f38181;
   margin: 17px;
   background-position: center;
   background-color: inherit;
   z-index: 1;
}

.icon:hover{
   fill: #ffffff;
}
   /*a*/

.employee__link--facebook{
   position: absolute;
   top: 45%;
   left: 20%;
}

.employee__link--twitter{
   position: absolute;
   top: 45%;
   left: 35%;
}

.employee__link--pinterest{
   position: absolute;
   top: 45%;
   left: 50%;
}

.employee__link--instagram{
   position: absolute;
   top: 45%;
   left: 65%;
}
/*div*/
.employee__topic{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   max-width: 381px;
   width: 100%;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: column wrap;
           flex-flow: column wrap;
   text-align: center;
}
/*p*/
.employee__name{
   font-size: 14px;
   font-family: 'Montserrat';
   color: #333333;
   text-transform: uppercase;
   font-weight: bold;
}
/*p*/
.employee__profession{
   font-style: italic;
   text-transform: capitalize;
   font-size: 15px;
   color: #a8a8a8;
   margin: 0;
}

/*FOOTER*/
.page_footer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;
   text-align: center;
   min-height: 60px;
}

.page_footer__text{
   margin: 0;
   font-family: 'Montserrat';
}

span{
   font-size: 14px;
   color: #f59191;
}

.input_button{
   width: 151px;
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   color: aliceblue;
   background-color: #95e1d3;
   cursor: pointer;
   border: none;
   padding: 12px 32px;
}

.input_button__text{
   width: 229px;
   height: 44px;
   font-size: 14px;
   color: #555252;
   font-style: italic; 
   border-bottom: 1px solid #e5e5e5;
   border-right: none;
}

.input_button__subscribe{
   vertical-align: bottom;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;
   margin: 12px 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #555252;
   font-size: 14px;
   font-style: italic;
 }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
   .wrapper {
       background-image: -webkit-linear-gradient(45deg, rgba(252, 227, 138, 0.72) 0%, rgba(243,129,129,1) 90%), url(../img/eaglex2.jpg);
       background-image: -o-linear-gradient(45deg, rgba(252, 227, 138, 0.72) 0%, rgba(243,129,129,1) 90%), url(../img/eaglex2.jpg);
       background-image: linear-gradient(45deg, rgba(252, 227, 138, 0.72) 0%, rgba(243,129,129,1) 90%), url(../img/eaglex2.jpg);
   }
}
