html{
    box-sizing: border-box;
    }
    *,
    *::before,
    *::after{
    box-sizing: inherit;
    }
    
img{
    display: block;
    max-width: 100%;
    height: auto;
    }

body{
    font-family: "Raleway", "Arial", sans-serif;
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    width: 900px;
    margin: 0 auto;
    bottom: o;
}

.page-header{  
    text-align: center;
    padding: 30px 0;
}

.page-nav{
    padding: 0;
    margin: 0;
}

.site-navigation{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.site-navigation-item{
    margin-right: 100px;
    display: inline-block;
}

.site-navigation-item :last-child{
    margin-right: 0;
}

.site-navigation a{
    display: block;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 16px;
    font-size: 14px;
}

.site-navigation a :hover,
.site-navigation a :focus {
    columns: #25b4f5;
}

/* FEATURES SECTION*/
.features{
    padding-bottom: 36px;
}

/* fearures list*/
.features-list{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-bottom: 30px;
}

.features-list-item{
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    padding: 0;
    margin-bottom: 134px;
    vertical-align: top;
}

.features-list-item:nth-child(2n){
    margin-right: 0;
}

.features-list-item:nth-last-child(-n+2){
    margin-bottom: 0;
}

.intro{
    font-size: 14px;
    margin: 0;
    margin-bottom: 38px;
}
.features-list-item h2{
    margin: 0;
    line-height: 36px;
    font-size: 30px;
    margin-bottom: 44px;
}

.content{
    font-size: 14px;
    margin: 0;
}

.image{
    margin: 0;
    margin-bottom: 34px;
}

.download-button{
    display: block;
    margin: 0 auto;
    padding: 20px 34px;
    font-size: 16px;
    line-height: 21px;
    width: 164px;
    cursor: pointer;
    text-align: center;
}