html{
    box-sizing: border-box;
    }
    *,
    *::before,
    *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

.container{
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
}
/*HEADER*/
.wrapper_slider{
    height: 540px;
    background-position: center;
    background-size: cover;
}
.navigation{
    max-width: 320px;
    width: 100%;
    vertical-align: bottom;
}
/*ul*/
.site_navigarion{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
}

.header_buttons{
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
}

.button{
    display: flex;
    margin: 0;
    border: 3px solid #ffffff opacity 0;
    color: transparent;
    border-radius: 15px;
}

.button:hover{

}
/*SECTION_1*/
.partners{

}
/*h2*/
.section_name{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    font-family: ;
}

/*ul*/
.partners_list{
    list-style: none;
}