html{
    box-sizing: border-box;
    }
    *,
    *::before,
    *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

.container{
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
}
/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 50px;
    font-family: 'Montserrat';
}