/* 17.04-1 ===============================================
.container {
    width: 1200px;
    margin: 0 auto;
}

.gallery{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.images{
    position: relative;
}

img {
    width: 100%;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    left: 0;
}

img:first-child{
    display: block;
}

.showed{
    display: block;
    opacity: 1;
}
//===================================================== */

/* 17.04-1 ===============================================
.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
}
//===================================================== */