html{
    box-sizing: border-box;
    }
    *,
    *::before,
    *::after{
    box-sizing: inherit;
    }

body{
    font-family: "Roboto", "Montserrat", "Kaushan Script", "sans-serif";
    color: #6c7279;
    font-size:14px;
    line-height:21px;
}

@font-face{
    font-family:"Roboto";
    src: url("../fonts/Roboto/roboto-v18-latin-regular.woff2") format("woff2"),
        url("../fonts/Roboto/roboto-v18-latin-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Roboto";
    src: url("../fonts/Roboto/roboto-v18-latin-300.woff2") format("woff2"),
        url("../fonts/Roboto/roboto-v18-latin-300.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family:"Montserrat";
    src: url("../fonts/Montserrat/montserrat-v12-latin-regular.woff2") format("woff2"),
        url("../fonts/Montserrat/montserrat-v12-latin-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Montserrat";
    src: url("../fonts/Montserrat/montserrat-v12-latin-700.woff2") format("woff2"),
        url("../fonts/Montserrat/montserrat-v12-latin-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family:"KaushanScript";
    src: url("../fonts/KaushanScript-Regular.ttf") format("woff");
    font-weight: 700;
    font-style: normal;
}

.container{
    max-width: 1201px;
    margin: 0 auto;
    width: 100%;
}

/*HEADER*/
/*header*/
.background{
    height: 1000px;
    background-image:linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% ), url(../img/eagle.png);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
/*div*/
.header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 50px;
    font-family: 'Montserrat';  
    padding-top: 36px; 
}
/*a*/
.logo{
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.logo:hover,
.logo:focus{
    color:#fce38a;
}
/*nav*/
.navigation{
    display: block;
    width: 620px;
    margin: 0;
    padding: 0;
}
/*ul*/
.site_navigation{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
/*li*/
.site_navigation_item{
    list-style: none;
}
/*li svg*/
.site_navigation_item svg {
    fill:#ffffff;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
}
/*li svg hover*/
.site_navigation_item svg:hover,
.site_navigation_item svg:focus{
    fill:#fce38a
}

/*a*/
.site_navigation_link, 
.site_navigation_button{  
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;  
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 36px;
    text-decoration: none;
    background-color: transparent;
    border: none;
} 

.site_navigation_link:hover,
.site_navigation_link:focus {
    color:#fce38a;
}

.nav_link:hover,
.nav_link:focus{
    color:#fce38a;
}

.site_navigation_link::after{
    display: table;
    content:"";
    width:100%;
    height:3px;
    line-height: 20px;
    border: solid 2px;
    border-color: #fce38a;
    background-color: #fce38a;
    opacity: 0;
}

.site_navigation_link:hover::after,
.site_navigation_link:focus::after{
    opacity: 1;
}
/*div*/
.greeting{
    display: flex;
    justify-content: space-between;
    flex-flow:column wrap;
    height: 924px;
}
/*p*/
.greeting_about{
    font-family: 'Kaushan Script';
    font-size: 72px;
    color: #ffffff;
    text-align: center;
    line-height: 44px;
    margin: 0;
    margin-top: 200px;
}
/*h2*/
.greeting_name{
    display: block;
    font-family: 'Montserrat';
    font-size: 150px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    margin-top: 69px;
    line-height: 124px;
}
/*a*/
.button_more{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border: 4px solid #ffffff;
    width: 160px;
    margin:0 auto;
    margin-bottom: 230px;
}

/*both sections*/
/*div*/
.title_wrapper{
    display: flex;
    justify-content: space-between;
    flex-flow:column wrap;
    color: #333333;
}
/*p*/
.section_about{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    font-family: 'Kaushan Script';
    font-size: 24px;
    text-align: center;
    line-height: 44px;
}
/*h2*/
.section_name{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
}
/*h2*/
.section_name::after {
    display: table;
    content:"";
    width:60px;
    height:4px;
    margin: 0 auto;
    border: solid 2px;
    border-color: #f38181;
    background-color: #f38181;
}
/*SERVICES*/
.services{
    margin-top: 106px;
}
/*ul*/
.services_topic_list{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 250px;
    padding: 0 10px;
}
/*li*/
.services_topic_item{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    width: 383px;
}
/*div*/
.services_topic_point{
    display: flex;
    justify-content: space-between;
    flex-flow: initial;
}
/*svg*/
.svg{
    vertical-align: middle;
    margin: 0 30px;
    width: 40px;
    height: 40px;
    fill: #95e1d3;
}
/*div*/
.services_topic{
    max-width: 301px;
    width: 100%;
    vertical-align: bottom;
    justify-content: flex-start;
}
/*p*/
.services_topic_name{
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
}
/*p*/
.services_content{
    color: #b6b6b6;
}
/*TEAM*/
.team{
    padding:100px 0;
    border-bottom: 1px solid #e5e5e5;
}
/*p*/
.team_description{
    max-width:980px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    text-align: center;
    margin: 95px auto;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a8a8a8;
}
/*ul*/
.team_list{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
/*li*/
.team_list_item{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}
/*div*/
.employee{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 32px;
    transition: .3s linear;
}

.team_list_item:hover .employee {
    transform: translate(-10px, -10px);
}
/*img*/
.employee_image{
    width: 380px;
    height: 470px;
    display: flex;
    justify-content: space-between;
}
/*div с ссылками на соцсети*/
.profile_links{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 380px;
    height: 470px;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
    transition: .3s linear;
    opacity: 0;
    align-items: center;
    position: absolute;
}

.team_list_item:hover .profile_links {
    box-shadow:10px 10px 0 #95e1d3;
}
/*div с ссылками на соцсети*/
.team_list_item:hover .profile_links,
.team_list_item:focus .profile_links{
    opacity: 1;
}
.link_box{
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    border:none;
    background-position: center;
    padding: 0;
    z-index: 0;
}

.link_box:hover{
    background-color: #f38181;
}
.link{
    width: 21px;
    height: 21px;
    fill: #f38181;
    margin: 17px;
    background-position: center;
    background-color: inherit;
    z-index: 1;
}

.link:hover{
    fill: #ffffff;
    background-color: inherit;
}
    /*a*/

.facebook{
    position: absolute;
    top: 45%;
    left: 20%;
}

.twitter{
    position: absolute;
    top: 45%;
    left: 35%;
}

.pinterest{
    position: absolute;
    top: 45%;
    left: 50%;
}

.instagram{
    position: absolute;
    top: 45%;
    left: 65%;
}
/*div*/
.employee_topic{
    display: flex;
    max-width: 381px;
    width: 100%;
    justify-content: space-between;
    flex-flow: column wrap;
    text-align: center;
}
/*p*/
.name{
    font-size: 14px;
    font-family: 'Montserrat';
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
}
/*p*/
.profession{
    font-style: italic;
    text-transform: capitalize;
    font-size: 15px;
    color: #a8a8a8;
    margin-bottom: 86px;
}

/*FOOTER*/
.page_footer {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    text-align: center;
}

.footer_text{
    margin: auto 0;
    font-family: 'Montserrat';
}

span{
    font-size: 14px;
    color: #f59191;
}

.input_button{
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 12px 0;
}

.input_text{
    width: 229px;
    height: 44px;
    font-size: 14px;
    color: #555252;
    font-style: italic; 
    border-bottom: 1px solid #e5e5e5;
    border-right: none;
}

.footer_button{
    width: 151px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: aliceblue;
    background-color: #95e1d3;
    cursor: pointer;
    border: none;
    padding: 12px 32px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #555252;
    font-size: 14px;
    font-style: italic;
  }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .wrapper {
        background-image: linear-gradient(45deg, rgba(252, 227, 138, 0.72) 0%, rgba(243,129,129,1) 90%), url(../img/eaglex2.jpg);
    }
}