/*палитра цветов*/

$white: #fff:
$grey: #6c7279;
$red:#f38181;
$yellow: #fce38a;
$blue: #95e1d3;
$montserrat : "Montserrat", "Kaushan Script", sans-serif;
$roboto : "Roboto", "Montserrat", "Kaushan Script", sans-serif;